{{ 'component-product-group-swatches.css' | asset_url | stylesheet_tag }}
<div class="group-swatch-label">Color</div>
<a class="btn-group-swatch" aria-label="Color Test Button" href="#">
    Test Swatch
</a>